$background-dark: #2b2b2b;
$text-white: #ffffff;
$text-lightgrey: #7a7a7a;

.about-background {
  background: $background-dark;
  padding-top: 6rem;
  padding-bottom: 4.125rem;
  overflow: hidden;
  min-height: 50vh;
}

.profile-pic {
  position: relative;
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
}

.contact-details,
.curriculum-vitae {
  width: 41.66667%;
}

.main-col {
  padding-right: 5%;
}

.about-header {
  font: 22px/30px "opensans-bold", sans-serif;
  color: $text-white;
  margin-bottom: 0.66667%;
}

.contact {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 30px;
  color: $text-lightgrey;
}

.about-link {
  margin-left: 0.5rem;

  &:hover,
  &:focus {
    color: $text-white;
  }
}

.about-resume-download {
  float: left;
  width: 100%;
}
