$header-background-color: #161415;
$header-link-color: #ffffff;
$header-link-color-hover: #989898;
$header-sub-headline-color: #a8a8a8;
$navbar-background-color: #333333;
$navbar-selection-color: #11abb0;

header {
  position: relative;
  height: 100vh;
  min-height: 100vh;
  width: 100%;
  background-color: $header-background-color;
  text-align: center;
  overflow: hidden;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }

  & .scrolldown a {
    position: absolute;
    bottom: 1.875rem;
    left: 50%;
    margin-left: -1.8125rem;
    color: $header-link-color;
    display: block;
    height: 2.625rem;
    width: 2.625rem;
    font-size: 2.625rem;
    line-height: 2.625rem;
    border-radius: 100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;

    &:hover {
      color: $header-link-color-hover;
    }
  }
}

.banner {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  width: 85%;
  padding-bottom: 1.875rem;
  text-align: center;
  border: 0.125rem solid $header-link-color;
}

.banner-text {
  width: 100%;

  & h1 {
    font: 90px/1.1em "opensans-bold", sans-serif;
    color: $header-link-color;
    letter-spacing: -0.125rem;
    margin: 0 auto 1.125rem auto;
    text-shadow: 0rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.8);
  }

  & h3 {
    font: 18px/1.9em "librebaskerville-regular", serif;
    color: $header-sub-headline-color;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
  }
}

#nav-wrap {
  font: 1.5rem "opensans-bold", sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 0.125rem;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;

  & ul,
  & li,
  & a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
  }

  & > a.mobile-btn {
    display: none;
  }
}

.opaque {
  background-color: $navbar-background-color;
}

ul#nav {
  min-height: 3rem;
  width: auto;
  text-align: center;

  & li {
    position: relative;
    list-style: none;
    height: 3rem;
    display: inline-block;

    & a {
      display: inline-block;
      padding: 0.5rem 0.8125rem;
      line-height: 2rem;
      text-decoration: none;
      text-align: left;
      color: $header-link-color;

      -webkit-transition: color 0.2s ease-in-out;
      -moz-transition: color 0.2s ease-in-out;
      -o-transition: color 0.2s ease-in-out;
      -ms-transition: color 0.2s ease-in-out;
      transition: color 0.2s ease-in-out;

      &:active {
        background-color: transparent !important;
      }
    }
  }

  & li.current a {
    color: $navbar-selection-color;
  }
}
